a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: gainsboro;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    cursor: pointer;
}